<div class="about text-center mx-2">
    <h1 class="display-6 mt-4">О развитии единой системы образования Республики Саха (Якутия)</h1>
    <div class="text-start mt-4">
        <p><b>Дата проведения:</b> Август 2024 года.</p>
        <p><b>Формат проведения:</b> очный</p>
        <p><b>Участники:</b> руководители органов управления в сфере образования, культуры, спорта и муниципальных районов (городских округов), административно - управленческий персонал образовательных организаций, члены общественного совета Министерства образования и науки РС (Я), педагогическая общественность, родительская общественность, профессиональные сообщества и детские коллективы.</p>
        <p><b>Цель:</b> Совершенствование единой системы образования Республики Саха (Якутия) с целью разностороннего развития детей и выстраивания персональных траекторий развития с учетом индивидуальных способностей, интересов и достижений для обучающихся всех уровней образования и взрослого населения для создания возможностей добиваться личного успеха, повышения благосостояния общества.</p>
        <p><b>Задачи:</b></p>
        <ol>
            <li>Обсуждение актуальных вопросов в сфере образования и науки в контексте современных требований к процессу образования, выработка общих подходов и решений.</li>
            <li>Определение проблем, вызовов времени и перспективных направлений развития в условиях системных изменений в сфере образования.</li>
            <li>Создание условий для профессионального взаимодействия ведомственных структур системы образования и науки в целях обмена опытом успешного решения образовательных задач и стимулирование их мотивации к непрерывному образованию.</li>
        </ol>
        <p><b>Регистрация:</b> <a href="https://xn--14-6kchq3aslqk3m.xn--p1ai/" target="_blank">январское14.рф</a></p>
        <a href="/files/Программа%20Январского%20совещания%202024%20года.pdf"><button class="w-100 btn btn-primary mb-5 ml-2 mr-2">Программа Январского совещания</button></a>
    </div>
</div>