<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is app is generating a route of events August event">
    <meta name="author" content="brearey with IROiPK">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/style.css">
    <link href="/bootstrap/css/carousel.css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    <footer class="container text-center text-secondary">
        <p><a href="#">Наверх</a></p>
        <p>&copy; 2024 ИРОиПК им. С.Н.Донского II</p>
        <p>Design by brearey and based on <a href="https://getbootstrap.com/">Bootstrap</a></p>
    </footer>
    <!-- Bootstrap scripts -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>